body {
	font-family: Arial;
	background: black;
}

#outer-wrapper, #prestige-calculator-style-wrapper, #damage-calculator-style-wrapper {
	display: flex;
    flex-direction: column;
    align-items: center;
}

p, label, h1 {
	color: #E6E6E6;
}

a {
	cursor: pointer;
	margin-right: 50px;
}

button:hover {
	background-color: lightgray;
	cursor: pointer;
}

#attacking-and-defending-wrapper {
	display: flex;
}

#attacking-etherian-wrapper, #defending-etherian-wrapper {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 30px 0px 30px;
}

.select-and-label-wrapper, .select-and-label-wrapper-type {
	display: flex;
    flex-direction: row;
    width: 216px;
    justify-content: space-between;
    margin: 2px;
}
.select-and-label-wrapper select {
	width: 128px;
}
.select-and-label-wrapper-type {
    margin-top: 5px;
}
.select-and-label-wrapper-type select {
	width: 61.7px;
}

.end-boost {
	margin-top: auto;
}

.calculate-button {
	width: 132px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 100px;
}

#monsters-of, #etheria {
	font-weight: 900;
	font-size: 2em;
}

#monsters-of {
	color: #A79EE1;
}

#etheria {
	color: #7463CB;
}

h1 {
	margin-top: 5px;
}